body {
  background-color: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  font-size: 100px;
  background-color: white;
  padding-top: 200px;
  margin: auto;
  height: 300px;
  width: 300px;
  padding: 20px;
  padding-top: 200px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 100px;
}
.bottom-suit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  transform: rotate(-180deg);
}
.red {
  color: red;
}
